/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of reset */
@font-face {
  font-family: 'Miso';
  src: url('../Miso/miso-regular.ttf');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: "Miso";
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}
p {
  line-height: 1.4;
}
.nav-content .lambda-logo {
  height: 40px;
  background-color: darkred;
}
@media (max-width: 500px) {
  .nav-content .lambda-logo {
    height: 45px;
  }
}
.nav-content .lambda-logo .lbdSchool-logo {
  max-width: 40px;
  float: right;
}
@media (max-width: 500px) {
  .nav-content .lambda-logo .lbdSchool-logo {
    max-width: 45px;
  }
}
.nav-content .nav-bar {
  margin: 0 auto;
  font-size: 2rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .nav-content .nav-bar {
    height: 40px;
  }
}
@media (max-width: 500px) {
  .nav-content .nav-bar div {
    width: 50%;
  }
}
.nav-content .nav-bar div .logo {
  width: 30%;
  padding-left: 20px;
}
@media (max-width: 500px) {
  .nav-content .nav-bar div .logo {
    width: 50%;
    padding-left: 0;
    padding-top: 2%;
  }
}
.nav-content .nav-bar .anchor-bar {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .nav-content .nav-bar .anchor-bar {
    font-size: 1.4rem;
    width: 100%;
  }
}
.nav-content .nav-bar .anchor-bar a {
  text-decoration: none;
  color: white;
}
div section {
  border: 0.5px solid;
}
.div-content {
  width: 100%;
  margin: 0 auto;
}
.div-content .about-section {
  background-image: url(../images/fifa-19.jpg);
  color: white;
  margin: 0 auto;
  border: 1px solid black;
  padding-top: 150px;
  padding-bottom: 100px;
  font-family: "Miso";
  height: 800px;
}
@media (max-width: 500px) {
  .div-content .about-section {
    padding-top: 100px;
    padding-top: 40px;
    height: 650px;
  }
}
@media (max-width: 350px) {
  .div-content .about-section {
    height: 770px;
  }
}
.div-content .about-section .about-content {
  padding-left: 260px;
  padding-top: 200px;
  width: 60%;
}
@media (max-width: 500px) {
  .div-content .about-section .about-content {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-top: 0;
    width: 85%;
    height: 540px;
  }
}
.div-content .about-section .about-content h2 {
  font-size: 6rem;
  font-family: "Miso";
}
@media (max-width: 500px) {
  .div-content .about-section .about-content h2 {
    text-align: center;
    font-size: 4rem;
  }
}
.div-content .about-section .about-content p {
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.8rem;
  line-height: 24px;
  text-align: justify;
}
@media (max-width: 500px) {
  .div-content .about-section .about-content p {
    font-size: 2rem;
    text-align: justify;
    line-height: 35px;
  }
}
.div-content .about-section .Singup-btn {
  background-color: #f93b78;
  color: white;
  border: 1px solid black;
  font-size: 2.5rem;
  padding: 10px 60px;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .div-content .about-section .Singup-btn {
    font-size: 2.5rem;
    padding: 5px 35px;
  }
}
.div-content .finder {
  background-image: url(../img/night-stadium.jpg);
  height: 575px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
@media (max-width: 500px) {
  .div-content .finder {
    height: 510px;
    padding-top: 70px;
  }
}
@media (max-width: 480px) {
  .div-content .finder {
    display: none;
  }
}
.div-content .finder .search {
  width: 1300px;
  font-size: 2rem;
}
.div-content .finder .search .player-header {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #323639;
  border: 1px solid white;
  color: white;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .div-content .finder .search .player-header {
    width: 470px;
    height: 35px;
    font-size: 3rem;
  }
}
.div-content .finder .search .player-header span {
  width: 100px;
}
.div-content .finder .search .scrollable {
  height: 80%;
  overflow: auto;
}
.div-content .finder .search .scrollable .player {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #323639;
  flex-direction: column;
  border: 1px solid white;
  height: 20px;
  overflow: hidden;
  color: white;
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 500px) {
  .div-content .finder .search .scrollable .player {
    width: 470px;
    height: 31px;
    font-size: 2.5rem;
  }
}
.div-content .finder .search .scrollable .player .player-row {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .div-content .finder .search .scrollable .player .player-row {
    width: 470px;
  }
}
.div-content .finder .search .scrollable .player .player-row span {
  width: 100px;
}
.div-content .finder .search .scrollable .player .player-expanded {
  width: 800px;
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .div-content .finder .search .scrollable .player .player-expanded {
    width: 470px;
  }
}
@media (max-width: 500px) {
  .div-content .finder .search .scrollable .player .player-expanded img {
    display: none;
  }
}
.div-content .finder .search .scrollable .player-open {
  height: 255px;
  opacity: 1;
}
@media (max-width: 500px) {
  .div-content .finder .search .scrollable .player-open {
    width: 470px;
    font-size: 2rem;
  }
}
.div-content .download {
  padding-left: 30%;
  background-image: url(../images/backgroung-img-download.jpg);
  display: flex;
  height: 400px;
}
@media (max-width: 500px) {
  .div-content .download {
    padding-left: 2%;
    height: 225px;
  }
}
.div-content .download .img-download {
  max-width: 350px;
}
@media (max-width: 500px) {
  .div-content .download .img-download {
    max-width: 200px;
  }
}
.div-content .download div {
  padding-top: 93px;
  padding-left: 72px;
}
@media (max-width: 500px) {
  .div-content .download div {
    padding-top: 13%;
    padding-left: 0;
  }
}
.div-content .download div h2 {
  COLOR: white;
  font-size: 5rem;
}
@media (max-width: 500px) {
  .div-content .download div h2 {
    font-size: 3rem;
  }
}
.div-content .download div .btn-download {
  background-color: #f93b78;
  color: white;
  font-size: 2.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
@media (max-width: 500px) {
  .div-content .download div .btn-download {
    font-size: 2rem;
  }
}
.div-content .carousel-inner .carousel-item p {
  font-size: 2.7rem;
}
.div-content .carousel-inner .carousel-item h5 {
  font-size: 4rem;
}
footer {
  background: white;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 500px) {
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
footer .footer {
  width: 100%px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer .footer h2 {
  align-self: center;
  font-size: 1.2rem;
  margin-bottom: 50px;
}
footer .footer .socials {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
@media (max-width: 500px) {
  footer .footer .socials {
    width: 90%;
  }
}
footer .footer .socials .socials-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 200;
}
footer .footer .socials .socials-link .socials-img {
  width: 75%;
}
footer .footer .socials .socials-link .socials-text {
  align-self: flex-end;
}
footer .footer p {
  text-align: center;
  padding-top: 50px;
  font-size: 1.2rem;
}
