/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of reset */
@font-face {
  font-family: 'Miso';
  src: url('../Miso/miso-regular.ttf');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: "Miso";
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}
p {
  line-height: 1.4;
}
.nav-content .lambda-logo {
  height: 40px;
  background-color: darkred;
}
@media (max-width: 500px) {
  .nav-content .lambda-logo {
    height: 45px;
  }
}
.nav-content .lambda-logo .lbdSchool-logo {
  max-width: 40px;
  float: right;
}
@media (max-width: 500px) {
  .nav-content .lambda-logo .lbdSchool-logo {
    max-width: 45px;
  }
}
.nav-content .nav-bar {
  margin: 0 auto;
  font-size: 2rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .nav-content .nav-bar {
    height: 40px;
  }
}
@media (max-width: 500px) {
  .nav-content .nav-bar div {
    width: 50%;
  }
}
.nav-content .nav-bar div .logo {
  width: 30%;
  padding-left: 20px;
}
@media (max-width: 500px) {
  .nav-content .nav-bar div .logo {
    width: 50%;
    padding-left: 0;
    padding-top: 2%;
  }
}
.nav-content .nav-bar .anchor-bar {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .nav-content .nav-bar .anchor-bar {
    font-size: 1.4rem;
    width: 100%;
  }
}
.nav-content .nav-bar .anchor-bar a {
  text-decoration: none;
  color: white;
}
.container {
  display: flex;
}
@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
.container .signin-section {
  width: 80%;
  height: 600px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .container .signin-section {
    width: 100%;
    height: 470px;
    border-right: none;
  }
}
.container .signin-section h2 {
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
  font-size: 4rem;
}
.container .signin-section input {
  text-align: center;
  width: 70%;
  margin-bottom: 50px;
  margin-left: 15%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.container .signin-section button {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  height: 50px;
  background-color: #f93b78;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 15px;
}
.container .signin-section .forgot-password {
  width: 70%;
  margin-left: 15%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.container .register-section {
  width: 80%;
  height: 600px;
}
@media (max-width: 500px) {
  .container .register-section {
    width: 100%;
    height: 470px;
  }
}
.container .register-section h2 {
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
  font-size: 4rem;
}
.container .register-section input {
  text-align: center;
  width: 70%;
  margin-bottom: 50px;
  margin-left: 15%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.container .register-section button {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  height: 50px;
  background-color: #f93b78;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 15px;
}
